# Copie para .env.dev e preencha os valores reais
JWT_SECRET=
GROQ_API_KEY=
REDIS_URL=redis://redis:6379
FRONTEND_URL=http://localhost:3000

META_DB_HOST=postgres
META_DB_PORT=5432
META_DB_NAME=datahub_meta
META_DB_USER=datahub_user
META_DB_PASS=
